.mealDetails {
    padding: 15px;
}

.nameMeal {
    color: #a9c100
}

.buttonHome {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.titleSections {
    text-align: center;
    color: #a9c100;
}

.ingredientsName {
    text-align: center;
    color: darkgray;
}