body {
  margin: 0;
  font-family: "Karla Variable", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Parkinsans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:linear-gradient(0deg, rgba(3,119,223,1) 0%, rgba(21,1,83,0.9052871148459384) 44%);
  background-color: aliceblue;
  background-repeat: no-repeat;
  height: 100%;
}

code {
  font-family: "Karla Variable", Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
